{% extends 'base.html' %}
{% load static %}

{% block title %}
  My Blog
{% endblock  %}

{% block css_files %}
  <link rel="stylesheet" href= "{% static 'index.css' %}" >
{% endblock %}

{% block content %}
  <section id="welcome">
    <header>
      <img src="{% static 'mujahid.png' %}" alt="Author of the blog" />
      <h2>Mujahid blog</h2>
    </header>
    <p>
      Here I will share my personal experience of Travelling.
      Where I had been travelled throughout the year. Hopefully
      perople will find interest in that. Also wishing best to all
      of my followers.
    </p>
  </section>

  <section id="latest-posts">
    <h2>My Latest Tour</h2>

    <ul>
      {% for post in posts %}
        {% include 'post.html' %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>What I used to Do</h2>
    <p>I am a Software Engineer in Selise Digital Platforms</p>
  </section>
{% endblock  %}
